body {
    margin: 0;
    padding: 0;
    background: white;
    background: url(img/140154873-cork-board-texture-perfect-high-resolution-grunge-background-.webp) #ffffcc;
    background-size: auto;
}

h1 {
    font-size: 4em;
    font-family: 'Permanent Marker', Arial, sans-serif;
    color: black;
    text-align: center;;
}

h2 {
    font-size: 3.5em;
    font-family: 'Permanent Marker', Arial, sans-serif;
    color: black;
    text-align: center;
}

h3 {
    font-size: 3em;
    font-family: 'Permanent Marker', Arial, sans-serif;
    color: black;
    text-align: center;
}

h4 {
    font-size: 2em;
    font-family: 'Permanent Marker', Arial, sans-serif;
    color: black;
    text-align: center;
}

p {
    font-size: 1em;
    font-family: 'Gloria Hallelujah', cursive;
    color: black;
    text-align: center;
}

a {
    font-size: 1em;
    font-family: 'Gloria Hallelujah', cursive;
    color: black;
    text-align: center;
    text-decoration: none;
}

.heading {
    position: relative;
    margin: 0;
    background: url(img/6-duct-tape-3.png);
    background-size: 95% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.container-gen {
    display: flex; /* or inline-flex */
    flex-direction: column;
    align-content: center;
    /* border: 3px solid black; */
    /* height: 25% */
}

.genInner{
    margin: auto;
    position: relative;
    width: 500px;
    height: 500px;
    /* border: 5px solid #FFFF00; */
    padding: 10px;
    background-image: url(img/post-it-note-transparent-background-3.png);
    background-position: center;
    background-size: auto;
}

#gen-h3 {
    padding: 10%;
    position: center;
}

#genreNate {
    padding: 2px;
    background: gray;
    font-family: 'Permanent Marker';
    font-size: 2em;
    height: 100px;
    width: 30%;
    border-radius: 8px;
}

#container-cmmnt {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    background-color: black;

}
    #bulletinBoard {
        height: auto;
        width: 45%;
    }

        #comment {
            border-top: 50px solid rgb(236, 229, 151);
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: palegoldenrod;
        
            /* overflow:hidden; */
            /* padding: 5% 5%; */
        }

    #commentForm {
    width: 450px;
	font-size: 16px;
	background: palegoldenrod;
	padding: 30px 30px 15px 30px;
	border-top: 50px solid rgb(236, 229, 151);
    /* padding: 0 3%; */
    }

        .field {
        background: transparent;
        border: none;
        border-bottom: 1px dashed black;
        width: 90%;
        outline: none;
        padding: 0px 0px 0px 0px;
        font-style: 'Gloria Hallelujah', cursive;
        font-size: large;
        }